.Item {
  padding: 1rem;
  border-radius: 1rem;
  height: 300px;
  width: 300px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: grid;
  align-items: end;
  display: grid;
  gap: 2rem;
  position: relative;
  h3 {
    word-break: break-word;
    white-space: break-spaces;
    font-size: 1rem;
    font-weight: 500;
  }

  img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: contain;
  }

  svg {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  p {
    background: #51ff51;
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 6px;
    border-radius: 6px;
  }
}
